nav {
  margin-top: -50px;
  background-color: #011f4b;
padding: 35px 1500px;
}
:root {
    --backround-color: #011f4b;
    --primary-color: grey;
    --secondary-color: #011f4b;
  }
  i {
    margin-right: 0.3rem;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container {  
    border:1px solid grey;
  }
  p{
    margin: -0.3rem;
    padding-left:1rem;
  }
  body { 
    line-height: 1.4;
    font-family: "Roboto";
    color: black;
    padding-bottom: 50px;
  }
  .dot {
    background-color: grey;
    padding:0 5px;
  }

.dot p {
  margin-top:-15px;
}
  .main-header {
    font-family: "Montserrat";
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
    color: #f4f4f4;
  }
  img {
    border-radius: 50%;
    width:40px;
    transition: 1s ease-in;
  }
  .main-header h3,
  .main-header h1 {
    font-weight: 300;
  }
  .main-header h1 {
    font-size: 3rem;
    padding: 10px 0;
  }
  section {
    text-align:left;
  }
  footer{
    background-color: grey;
    margin-top:5%;
    padding: 5%;
    padding-bottom: 20rem;
    text-align: center;
  }
  #timeline ul {
    list-style: none;
    margin-top: 50px;
  }
  h2 {
    color: white;
  }
  /* Central Line */
  #timeline ul li {
   display: none;
    position: relative;
    width: 0%;
    border-left: 5px solid var(--primary-color);
    height: 350px;
    margin: 0 auto;  
  }
.dotted{
  display: none;
  content: "";
  position: absolute;
  top: 300px;
  margin-top: 1rem;
  left: -11px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #011f4b;
  transition: background 1s ease-in-out;
  transition:width 10s ease-in;
}

.Content{
color:transparent;
  margin-left: -2rem;
width:11rem;
transform: translateX(70px);
}
  #timeline ul li:before {
    content: "";
    position: absolute;
    top: 0;
    left: -11px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fafafa;
    transition: background 1s ease-in-out;
  }
 
  #timeline ul li > div {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    width: 350px;
    text-align: center;
    position: relative;
    opacity: 0;
    visibility: hidden;
  }
  #timeline ul li > div p {
    padding-top: 20px; 
  }
  #timeline ul li:nth-child(2n + 0) > div {
    margin-left: 70px;
    animation: mymove 5s forwards;
  }
  @keyframes mymove {
    0%{
      margin-left: 100px;
    }
    100%{
      margin-left: 40px;
    }
  }
  #timeline ul li:nth-child(4n + 0) > div {
    margin-left:-450px;
  animation: mymoveright 2s forwards;
  }
  @keyframes mymoveright {
    0% {
     margin-left:-450px;
    }
    100% {
margin-left:-410px
    }
  }
  .United{
visibility: hidden;
  }
  #timeline ul li:nth-child(2):before:hover{
     visibility: visible;
  }
  #timeline ul li > div > div  {
    position: relative;
    /*top: -14px;*/
    background: var(--secondary-color);
    width: 350px;
    padding: 5px 10px;
  }
  /* Top boxes arrows */
  #timeline ul li > div:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    border-style: solid;
  }
  #timeline ul li:nth-child(2n + 0) > div:before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent var(--secondary-color) transparent transparent;
  }
  #timeline ul li:nth-child(4n + 0) > div:before {
    transform: translateX(365px);
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent var(--secondary-color);
  }
  /* Show Boxes */
  #timeline ul li.show > div {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
  
  #timeline ul li.show:before {
    background: var(--secondary-color);
  }
  
  @media (max-width: 900px) {
    #timeline ul li > div,
    #timeline ul li > div > div {
      width: 200px;
     
    }
    .Content{
     margin-left: -254px;
     width:11.5rem;
    }
    #timeline ul li:nth-child(4n + 0) > div {
      margin-left: -264px;   
      animation: mymoveleft 1s forwards;
    }
    @keyframes mymoveleft {
      0%{
        margin-left:-264px
      }
      100% {
margin-left:-240px;
      }
    }
    #timeline ul li:nth-child(4n + 0) > div:before {
      transform: translateX(215px);
  } 
}
 
